@model ContactModel;
@{
    ViewData["Title"] = "SaveView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div class="card">
    <div class="card-header">
        New Contact
    </div>
    <div class="card-body">
       
        <form asp-action="SaveView" asp-controller="Main" method="post">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="UserName" aria-describedby="usernameHelp">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="UserEmail">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserPhone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phoneHelp" name="UserPhone">
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Save</button>
            <a asp-action="List" asp-controller="Main" class="btn btn-success"> <i class="bi bi-person-rolodex"></i> Contact List</a>
        </form>
    </div>
</div>
